body{
    background-image: url("fundo.jpg");
    justify-content: center;
}
header{
    background-color: black; 
     text-align: center;
     padding: 15px;
     border-radius: 20px;
     box-shadow: beige;
     color: darkolivegreen;
     margin:auto;
     width: 400px;
    }
   
h1{
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 5px;
    
}
section{
    background-color:black;
    text-align: center;
    width: 300px;
    height: 150px;
    align-content: center;
    color: darkolivegreen;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}
.txt{
  color:darkolivegreen;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;

}
#container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin:auto;
    border-radius: 10px;
    box-shadow:white ;
    padding: 5px;
    align-items:center;
   
}
#container>div{
    flex-direction: row;
    align-items: center;
    margin:30px;
    height: 100px;
    width: 100px;
}
.botao{
  padding: 20px;
  height: 10px;
  width: 10px;
  margin: 30px;
  box-shadow: darkgray;
  border-radius: 40px;
  text-align: center;
  align-items: center;

}
.botao2{
    background-color: black;
    font-size: 15pt;
    color:white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: powderblue;
    margin: auto;
    text-align: center;
}
.botao2:hover{
    color: lawngreen;
}
#res{
    background-color: black;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    margin: auto;
    padding-inline: 20px;
    color: cornsilk;
    text-align: center;
    font-size: 15pt;
}
p{
   padding: 20px;
}
